header {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main.main-content {
  margin: 0 auto;
  min-width: min(100%, 600px);
  max-width: 1600px;
}

.error-message {
  background-color: rgba(220, 38, 38, 0.2);
  border: 1px solid rgb(220, 38, 38);
  color: rgb(252, 165, 165);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.info-message {
  background-color: rgba(100, 149, 237, 0.1);
  border: 1px solid rgba(100, 149, 237, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}
